@model RawcodeX.UI.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}

<style>
    .bg-register {
        background: url(https://colorlib.com/etc/lf/Login_v18/images/bg-01.jpg);
        background-position: center;
        background-size: cover
    }
</style>
<br />
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Manage Password</h1>
                        </div>

                        <div>
                            @using (Html.BeginForm("ChangePassword", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "user" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    @*<input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name">*@
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control form-control-user", id = "exampleOldPass", placeholder = "Old Password", required = "required" })
                                    @*@Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })*@
                                </div>
                                <div class="form-group">
                                    @*<input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">*@
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control form-control-user", id = "exampleNewPass", placeholder = "New Password", required = "required" })
                                    @*@Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })*@
                                </div>
                                <div class="form-group">
                                    @*<input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">*@
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-user", id = "exampleConfirmPass", placeholder = "Confirm Password", required = "required" })
                                    @*@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })*@
                                </div>

                                <input type="submit" class="btn btn-primary btn-user btn-block" value="Change password" />

                            }

                        </div>
                        <hr>
                        <div>
                            <a href="@Url.Action("UserProfile", "Manage")">
                                <i class="far fa-arrow-alt-circle-left fa-sm fa-fw mr-2 text-gray-400"></i>
                                Back
                            </a>
                            <p></p>
                            <a href="@Url.Action("ChangePassword", "Manage")">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Manage Password
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                @*<a class="btn btn-primary" href="">Logout</a>*@
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()

                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                }

            </div>
        </div>
    </div>
</div>

